.faq-general
  h3 Preguntas frecuentes
  .sidebar-row
    ul.faq-general-list
      li
        a.linked(href="#")
          span.icon-faq.icon-truck
          span.faq-title Envíos nacionales
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-airplane
          span.faq-title Envíos Internacionales
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-money
          span.faq-title Giros
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-map
          span.faq-title Sucursales
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-building
          span.faq-title Empresas
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-dialog-tools
          span.faq-title Requerimientos y reclamos
          span.icon-chevron-right
      li
        a.linked(href="#")
          span.icon-faq.icon-square-dots
          span.faq-title Otros servicios
          span.icon-chevron-right


