.sidebar-tabs
  .faq-panel.persona-tab.is-active
    h3 Preguntas frecuentes de Personas
    #persona-faqs.side-faqs(role='tablist', aria-multiselectable='true')
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#persona-faqs', data-target='#collapsePersona1', aria-expanded='false', aria-controls='collapsePersona1') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapsePersona1.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#persona-faqs', data-target='#collapsePersona2', aria-expanded='false', aria-controls='collapsePersona2') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapsePersona2.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#persona-faqs', data-target='#collapsePersona3', aria-expanded='false', aria-controls='collapsePersona3') ¿Puedo hacer seguimiento de un envío sin la orden de transporte?
            span.icon-circle-arrow-down
        #collapsePersona3.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#persona-faqs', data-target='#collapsePersona4', aria-expanded='false', aria-controls='collapsePersona4') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapsePersona4.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#persona-faqs', data-target='#collapsePersona5', aria-expanded='false', aria-controls='collapsePersona5') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapsePersona5.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.

  .faq-panel.empresas-tab
    h3 Preguntas frecuentes de Empresas
    #empresas-faqs.side-faqs(role='tablist', aria-multiselectable='true')
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#empresas-faqs', data-target='#collapseEmpresas1', aria-expanded='false', aria-controls='collapseEmpresas1') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEmpresas1.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#empresas-faqs', data-target='#collapseEmpresas2', aria-expanded='false', aria-controls='collapseEmpresas2') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEmpresas2.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#empresas-faqs', data-target='#collapseEmpresas3', aria-expanded='false', aria-controls='collapseEmpresas3') ¿Puedo hacer seguimiento de un envío sin la orden de transporte?
            span.icon-circle-arrow-down
        #collapseEmpresas3.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#empresas-faqs', data-target='#collapseEmpresas4', aria-expanded='false', aria-controls='collapseEmpresas4') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEmpresas4.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#empresas-faqs', data-target='#collapseEmpresas5', aria-expanded='false', aria-controls='collapseEmpresas5') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEmpresas5.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.

  .faq-panel.emprendedores-tab
    h3 Preguntas frecuentes de Emprendedores
    #emprendedores-faqs.side-faqs(role='tablist', aria-multiselectable='true')
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#emprendedores-faqs', data-target='#collapseEmprendedores1', aria-expanded='false', aria-controls='collapseEmprendedores1') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEmprendedores1.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#emprendedores-faqs', data-target='#collapseEmprendedores2', aria-expanded='false', aria-controls='collapseEmprendedores2') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEmprendedores2.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#emprendedores-faqs', data-target='#collapseEmprendedores3', aria-expanded='false', aria-controls='collapseEmprendedores3') ¿Puedo hacer seguimiento de un envío sin la orden de transporte?
            span.icon-circle-arrow-down
        #collapseEmprendedores3.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#emprendedores-faqs', data-target='#collapseEmprendedores4', aria-expanded='false', aria-controls='collapseEmprendedores4') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEmprendedores4.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#emprendedores-faqs', data-target='#collapseEmprendedores5', aria-expanded='false', aria-controls='collapseEmprendedores5') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEmprendedores5.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.

  .faq-panel.ecommerce-tab
    h3 Preguntas frecuentes de E-commerce
    #ecommerce-faqs.side-faqs(role='tablist', aria-multiselectable='true')
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#ecommerce-faqs', data-target='#collapseEcommerce1', aria-expanded='false', aria-controls='collapseEcommerce1') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEcommerce1.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#ecommerce-faqs', data-target='#collapseEcommerce2', aria-expanded='false', aria-controls='collapseEcommerce2') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEcommerce2.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#ecommerce-faqs', data-target='#collapseEcommerce3', aria-expanded='false', aria-controls='collapseEcommerce3') ¿Puedo hacer seguimiento de un envío sin la orden de transporte?
            span.icon-circle-arrow-down
        #collapseEcommerce3.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#ecommerce-faqs', data-target='#collapseEcommerce4', aria-expanded='false', aria-controls='collapseEcommerce4') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapseEcommerce4.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#ecommerce-faqs', data-target='#collapseEcommerce5', aria-expanded='false', aria-controls='collapseEcommerce5') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapseEcommerce5.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
