ul.side-info
  li
    a(href="#")
      span.icon-circle-twitter
      |Escríbenos por Twitter
  li
    a(href="#")
      span.icon-circle-facebook
      |Escríbenos por Facebook
  li.call-us
    a(href="tel:+566002000102")
      span.icon-phone
      |Llámanos 600 2000 102
