.sidebar-row.sidebar-news
  figure.figure
    img.img-responsive(src="assets/img/sidebar-img.jpg")
  figcaption.caption
    h3 Conoce nuestra nueva App
    p Ahora cotizar y revisar el estado de tu envío es más cómodo que nunca.
