.sidebar-tabs
  .faq-panel.is-active
    h3 Tips sobre tracking
    #tips-tracking.side-faqs(role='tablist', aria-multiselectable='true')
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#tips-tracking', data-target='#collapsePersona1', aria-expanded='false', aria-controls='collapsePersona1') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapsePersona1.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#tips-tracking', data-target='#collapsePersona2', aria-expanded='false', aria-controls='collapsePersona2') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapsePersona2.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#tips-tracking', data-target='#collapsePersona3', aria-expanded='false', aria-controls='collapsePersona3') ¿Puedo hacer seguimiento de un envío sin la orden de transporte?
            span.icon-circle-arrow-down
        #collapsePersona3.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.    
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#tips-tracking', data-target='#collapsePersona4', aria-expanded='false', aria-controls='collapsePersona4') ¿Cómo puedo hacer seguimiento de un envío?
            span.icon-circle-arrow-down
        #collapsePersona4.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
      .panel
        .head(role='tab')
          h4(data-toggle='collapse', data-parent='#tips-tracking', data-target='#collapsePersona5', aria-expanded='false', aria-controls='collapsePersona5') ¿Cuál es el plazo para retirar mi envío en una sucursal?
            span.icon-circle-arrow-down
        #collapsePersona5.collapse(role='tabpanel')
          p Sí. Necesitas el nombre de destinatario, fecha de envío y ciudad de origen o destino. Este seguimiento debes hacerlo a través de nuestro Call Center.
