.boxes-container
  .container
    .text-center
      h1 Utiliza las opciones de tracking avanzado
    .row-boxes
      .box-single
        .card-container
          figure.bg1
            img(src="assets/img/img-boxes.svg")
          figcaption
            h2 Guardar tus números de tracking avanzado
            p Al guardar los números no tendrás que ingresarlos cada vez que quieras consultarlos.
      .box-single
        .card-container
          figure.bg2
          figcaption
            h2 Identifica tus envíos
            p Crea nombres para tus envíos con palabras clave para identificarlos fácilmente.
      .box-single
        .card-container
          figure.bg3
          figcaption
            h2 Alerta sobre tus envíos
            p Solicita envíos de alertas sobre el cambio de estado de tus enviós.
