footer.footer
	.container.footer-content
		.footer-col.contact
			h4.footer-title Contáctanos
			ul.footer-contact-list
				li.footer-contact-item
					i.icon.icon-mobile-phone
					a.phone(href="tel:+56-22355-2500") (+56 2) 2355 2500
				li.footer-contact-item
					i.icon.icon-envelope
					a(href='contact.html') contacto@chilexpress.cl
				li.footer-contact-item.address
					i.icon.icon-pin
					.address Av. José Joaquín Pérez 1376, Parque Industrial ENEA, Pudahuel, Santiago, Chile
				li.footer-contact-item
					a.map(href='www.google.cl/maps/place/Jos%C3%A9+Joaqu%C3%ADn+P%C3%A9rez+1376,+Pudahuel,+Regi%C3%B3n+Metropolitana/@-33.4229792,-70.7804746,17z/data=!4m13!1m7!3m6!1s0x9662c1882696a219:0x2cf18f179fffcf7f!2sJos%C3%A9+Joaqu%C3%ADn+P%C3%A9rez+1376,+Pudahuel,+Regi%C3%B3n+Metropolitana!3b1!8m2!3d-33.4229837!4d-70.7782859!3m4!1s0x9662c1882696a219:0x2cf18f179fffcf7f!8m2!3d-33.4229837!4d-70.7782859', target='_blank') Ver mapa
				li.footer-contact-item
					i.icon.icon-phone
					a.phone(href="tel:+566002000102") 600 2000 102

		.footer-col
			.footer-nav-mobile
				input(id="footer-accordion-1", name="footer-accordion", type="radio", checked="")
				label(for="footer-accordion-1").footer-title Corporativo
					span.icon.icon-chevron-right
				ul.footer-nav
					li.footer-item
						a.footer-link La compañía
					li.footer-item
						a.footer-link Reportes de sostenibilidad
					li.footer-item
						a.footer-link Programa de ética y providad
						ul.footer-subnav
							li.footer-nav-item
								a.footer-sublink Canal de denuncias
					li.footer-item
						a.footer-link Trabaja con nosotros
          
			.footer-nav-mobile
				input(id="footer-accordion-2", name="footer-accordion", type="radio")
				label(for="footer-accordion-2").footer-title Comunicación interna
					span.icon.icon-chevron-right
				ul.footer-nav
					li.footer-item
						a.footer-link Nuestra Net
					li.footer-item
						a.footer-link Acceso RRHH
					li.footer-item
						a.footer-link Mesa de ayuda
            
		.footer-col.footer-nav-mobile
			input(id="footer-accordion-3", name="footer-accordion", type="radio")
			label(for="footer-accordion-3").footer-title Ecosistema digital
				span.icon.icon-chevron-right
			ul.footer-nav
				li.footer-item
					a.footer-link Redes sociales
				li.footer-item
					a.footer-link Blogs
				li.footer-item
					a.footer-link App Móvil
				li.footer-item
					a.footer-link Pickup
				li.footer-item
					a.footer-link Voy
					ul.footer-subnav
						li.footer-nav-item
							a.footer-sublink Términos y condiciones
						li.footer-nav-item
							a.footer-sublink Políticas de privacidad
				li.footer-item
					a.footer-link Llave única (SSO)
		.footer-col.footer-nav-mobile
			input(id="footer-accordion-4", name="footer-accordion", type="radio")
			label(for="footer-accordion-4").footer-title Servicio al cliente
				span.icon.icon-chevron-right
			ul.footer-nav
				li.footer-item
					a.footer-link(href="branch-office-search.html") Sucursales
				li.footer-item
					a.footer-link Cobertura
				li.footer-item
					a.footer-link Preguntas frecuentes
				li.footer-item
					a.footer-link(href="contact.html") Contacto
				li.footer-item
					a.footer-link Términos y condiciones
				li.footer-item
					a.footer-link Guía de servicios
				li.footer-item
					a.footer-link Tarifas
				li.footer-item
					a.footer-link Normas de transporte

	.footer-bottom
		.container
			.footer-bottom-col.left
				.copyright © Chilexpress  2018.
				a Brand center
			.footer-bottom-col.right
				a Políticas de privacidad
				.footer-rs
					span.footer-rs-label Síguenos en:
					a(href='#')
						span.icon-circle-facebook
					a(href='#')
						span.icon-circle-twitter
					a(href='#')
						span.icon-youtube
