#myNav.overlay()
  .pattern
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
  .overlay-content
    .search-wrapper
      form.search-container#searchBox(action='search.html', method='post')
        input.search-hidden(type='hidden')
        input#search-box.search-box.searchtize(name='', placeholder='¿Qué estás buscando?', type='text')
        .error-search.empty
          span.icon-circle-alert
          p Debes ingresar al menos una letra&nbsp;
            strong para iniciar la búsqueda
        label(for='search-box')
          span.icon.icon-search.search-icon
        input#search-submit.search-submit(placeholder='Buscar', type='button', value='Buscar' on)

.site-header.site-header--person.header-ref(ng-class="{'logged':logged}")
  #slide-nav.navbar-top.navbar-top--fixed(role='navigation')
    .alert.alert-warning.alert-dismissible.o-mb-s.header-alert(role='alert', ng-if="warning")
      .container
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span.icon.icon-close(aria-hidden='true')
        .text-message
          span.icon.icon-circle-info
          .itm
            strong.alert-title
              | LOREM IPSUM DOLORes SIT AMET, CONSECTETUR ADIPISCING ELIT. NUNC SIT AMET NIBH SEM. SUSPENDISSE BIBENDUM ARCU A MASSA VIVERRA EUISMOD. CURABITUR INTERDUM MAXIMUS SAPIEN. ALIQUAM ERAT VOLUTPAT.
            p.alert-text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet nibh sem. Suspendisse bibendum arcu a massa viverra euismod. Curabitur interdum maximus sapien. Aliquam erat volutpat.
            .text-left
              a.link(href="javascript:;") Ver detalle
          button.close.close--md(type='button', data-dismiss='alert', aria-label='Close')
            span.icon.icon-close(aria-hidden='true')
    .header-content
      .pattern-nav
      .header-menu-top
        .container
          .navbar-mobile
            // navbar-mobile collapse 768
            .btn-menu-slide
              button#trigger.navbar-toggle
                #nav-icon-hamburguer.hamburguer
                  span
                  span
                  span
            .logo
              a.logo-link(href='index.html')
                span.logo-image
            include _navbar-controls

          #mainLoginWrappMobile.main-login-wrapp.is-hide
              .col-xs-6.col-sm-6
                a.c-button.c-button--secondary.pull-right(href="login.html") Ingresar
              .col-xs-6.col-sm-6
                a.c-button.c-button--emphasis.pull-left(href="register.html") Registrarse
              button.close.close--md(type='button', aria-label='Close')
                span.icon.icon-close(aria-hidden='true')

          // Menú mobile que aparece a los 767px de ancho de pantalla
          #slidemenu.header-top
            ul.nav.navbar-nav.navbar-left
              li.navbar-item
                span.navbar-link.navbar-not-link Red Chilexpress
              li.navbar-item
                a.navbar-link.with-icon(href='javascript:;')
                  span.navbar-left-icon.icon.icon-document2(aria-hidden='true')
                  | Blog
              li.navbar-item
                a.navbar-link.with-icon(href='javascript:;')
                  span.navbar-left-icon.icon.icon-building(aria-hidden='true')
                  | Chilexpress Empresas
              li.navbar-item
                a.navbar-link.with-icon(href='javascript:;')
                  span.navbar-left-icon.icon.icon-airplane(aria-hidden='true')
                  | ChileBox
              li.navbar-item
                a.navbar-link.with-icon.is-last(href='javascript:;')
                  span.navbar-left-icon.icon.icon-cxp(aria-hidden='true')
                  | CXP

            //aquí empieza el menú mobile
            .close-nav-mobile
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span.icon.icon-close(aria-hidden='true')
            .mobile-profile-menu
              .mobile-profile-menu-head
                span.icon-chevron-left
                span.logo-menu
              .mobile-profile-menu-body
                .selector-container
                  span.before-text ESCOGE TIPO DE CLIENTE
                  ul.select-profile
                    li.profile-person(ng-class="{'active':currentProfile=='person'}", ng-click="setCurrentProfile('person', true)")
                      span.text Cliente Persona
                      span.icon-chevron-down
                    li.profile-business(ng-class="{'active':currentProfile=='business'}", ng-click="setCurrentProfile('business', true)")
                      span.text Empresa
                      span.icon-chevron-down
                    li.profile-entrepreneurs(ng-class="{'active':currentProfile=='entrepreneurs'}", ng-click="setCurrentProfile('entrepreneurs', true)")
                      span.text Emprendedores
                      span.icon-chevron-down
                    li.profile-ecommerce(ng-class="{'active':currentProfile=='ecommerce'}", ng-click="setCurrentProfile('ecommerce', true)")
                      span.text E-commerce
                      span.icon-chevron-down

                .sub-menu-container
                  //submenu person
                  ul.sub-menu-profile.profile-person(ng-class="{'active':currentProfile=='person'}")
                    li
                      a(ng-click="setCurrentProfile('person', true)") Home Cliente Persona
                    li
                      a(href="#") Servicios Nacionales
                    li
                      a(href="#") Servicios Internacionales
                    li
                      a(href="#") Embalaje
                    li
                      a.with-son(href="#") Otros Servicios
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Otros servicios
                        li
                          a(href="#") Giros
                        li
                          a(href="#") Equifax
                        li
                          a(href="#") Pago de cuentas
                        li
                          a(href="#") Recargas
                    li
                      a(href="#") Buenas Prácticas

                  //submenu business
                  ul.sub-menu-profile.profile-business(ng-class="{'active':currentProfile=='business'}")
                    li
                      a(ng-click="setCurrentProfile('business', true)") Home Empresas
                    li
                      a.with-son(href="#") Envíos
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Envíos
                        li
                          a(href="#") Nacionales
                        li
                          a(href="#") Internacionales
                        li
                          a(href="#") Envíos especiales
                        li
                          a(href="#") Logística y devolución
                    li
                      a(href="#") Retiros
                    li
                      a.with-son(href="#") Otros servicios
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Otros servicios
                        li
                          a(href="#") Integraciones
                        li
                          a(href="#") Fullfillment
                        li
                          a(href="#") Alianzas
                        li
                          a(href="#") OTD asistida
                    li
                      a.with-son(href="#") Beneficios cuenta CXP
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Beneficios cuenta CXP
                        li
                          a(href="#") Cuenta TCC
                        li
                          a(href="#") Reportería y estadísticas
                        li
                          a(href="#") Gestión TCC
                        li
                          a(href="#") Mi ejecutivo
                    li
                      a(href="#") Materiales de embalaje
                    li
                      a(href="#") Buenas prácticas

                  //submenu entrepreneurs
                  ul.sub-menu-profile.profile-entrepreneurs(ng-class="{'active':currentProfile=='entrepreneurs'}")
                    li
                      a(ng-click="setCurrentProfile('entrepreneurs', true)") Home Emprendedores
                    li
                      a.with-son(href="#") Envíos
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Envíos
                        li
                          a(href="#") Nacionales
                        li
                          a(href="#") Internacionales
                        li
                          a(href="#") Envíos especiales
                        li
                          a(href="#") Logística y devolución
                    li
                      a(href="#") Retiros
                    li
                      a.with-son(href="#") Otros servicios
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Otros servicios
                        li
                          a(href="#") Integraciones
                        li
                          a(href="#") Fullfillment
                        li
                          a(href="#") Alianzas
                        li
                          a(href="#") OTD asistida
                    li
                      a.with-son(href="#") Beneficios cuenta CXP
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Beneficios cuenta CXP
                        li
                          a(href="#") Cuenta TCC
                        li
                          a(href="#") Reportería y estadísticas
                        li
                          a(href="#") Gestión TCC
                        li
                          a(href="#") Mi ejecutivo
                    li
                      a(href="#") Materiales de embalaje
                    li
                      a(href="#") Buenas prácticas

                  //submenu ecommerce
                  ul.sub-menu-profile.profile-ecommerce(ng-class="{'active':currentProfile=='ecommerce'}")
                    li
                      a(ng-click="setCurrentProfile('ecommerce', true)") Home Ecommerce
                    li
                      a.with-son(href="#") Iníciate como E-commerce
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Iníciate como E-commerce
                        li
                          a(href="#") Envíos
                        li
                          a(href="#") Retiros
                        li
                          a(href="#") Tracking
                        li
                          a(href="#") Gestión del fallo
                    li
                      a.with-son(href="#") Optimiza tus ventas
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Optimiza tus ventas
                        li
                          a(href="#") Fullfillment
                        li
                          a(href="#") Entregas programadas
                        li
                          a(href="#") Big ticket
                        li
                          a(href="#") Logística y devolución
                        li
                          a(href="#") PUDO
                        li
                          a(href="#") Integraciones
                    li
                      a.with-son(href="#") Beneficios cuenta CXP
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Beneficios cuenta CXP
                        li
                          a(href="#") Cuenta TCC
                        li
                          a(href="#") Reportería y estadísticas
                        li
                          a(href="#") Gestión TCC
                        li
                          a(href="#") Mi ejecutivo
                    li
                      a(href="#") Consejos para E-commerce
                    li
                      a(href="#") Buenas prácticas

                .sub-menu-container
                  ul.sub-menu-assistant.active
                    li
                      a.with-son(href="#")
                        span.icon-toolbox.icon-section
                        | Herramientas
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Herramientas
                        li
                          a(href="#") Herramientas Personas
                        li
                          a(href="#") Herramientas Empresas
                        li
                          a(href="#") Herramientas Emprendedores
                        li
                          a(href="#") Herramientas E-commerce
                    li
                      a(href="branch-office-search.html")
                        span.icon-map.icon-section
                        | Sucursales
                    li
                      a.with-son(href="#")
                        span.icon-dotted-dialog.icon-section
                        | Servicio al cliente
                        span.icon-chevron-right
                      ul.right-sub-menu
                        li Servicio al cliente
                        li
                          a(href="#") Preguntas frecuentes
                        li
                          a(href="search-ot.html") Revisa estado de envío
                        li
                          a(href="branch-office-search.html") Sucursales
                        li
                          a(href="#") Realiza un envío
                        li
                          a(href="#") Normas de transporte
                        li
                          a(href="#") Guía de servicios
                        li
                          a(href="#") Términos y condiciones
                        li
                          a(href="contact.html") Contáctanos

            //finaliza menu mobile


            ul.nav.navbar-nav.nav-mobile.hide
              li.last.with-child
                .btn-group.service-cli
                  a.dropdown-toggle(href='#')
                    span.icon.icon-toolbox
                    span.txt Herramientas
                  ul.dropdown-menu
                    li
                      a.menu-back(href='javascript:;')
                        span.class.logo-menu
                    li
                      span.title-child Herramientas
                    li
                      a(href='javascript:;')
                        | Herramientas Persona
                    li
                      a(href='search-ot.html')
                        | Herramientas Empresa
                    li
                      a(href='branch-office-search.html')
                        | Herramientas E-commerce
                    li
                      a(href='branch-office-search.html')
                        | Herramientas Emprendedores
              li.last
                .btn-group
                  a(href='branch-office-search.html')
                    span.icon.icon-map(aria-hidden='true')
                    span.txt Sucursales
              li.last.with-child
                .btn-group.service-cli
                  a.dropdown-toggle(href='javascript:;')
                    span.icon.icon-dotted-dialog(aria-hidden='true')
                    span.txt Servicio al cliente
                  ul.dropdown-menu
                    li
                      a.menu-back(href='javascript:;')
                        span.class.logo-menu
                    li
                      span.title-child Servicio al cliente
                    li
                      a(href='javascript:;')
                        | Preguntas frecuentes
                    li
                      a(href='search-ot.html')
                        | Revisa estado de envío
                    li
                      a(href='branch-office-search.html')
                        | Sucursales
                    li
                      a(href='javascript:;')
                        | Realiza un envío
                    li
                      a(href='javascript:;')
                        | Normas de transporte
                    li
                      a(href='javascript:;')
                        | Guía de servicios
                    li
                      a(href='javascript:;')
                        | Términos y condiciones
                    li
                      a(href='contact.html')
                        | Contáctanos


            // menu desktop
            ul.nav.navbar-nav.navbar-right
              li.navbar-item.navbar-item-left
                .dropdown
                  button.navbar-right-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                    span.icon.icon-toolbox
                    | Herramientas
                  ul.dropdown-menu.tools
                    li
                      a(href='javascript:;')
                        | Herramientas Cliente Persona
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='search-ot.html')
                        | Herramientas Empresa
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='javascript:;')
                        | Herramientas E-commerce
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='javascript:;')
                        | Herramientas Emprendedores
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
              li.navbar-item.navbar-item-left
                a.navbar-right-link(href='branch-office-search.html')
                  span.icon.icon-map(aria-hidden='true')
                  |               Sucursales
              li.navbar-item.navbar-item-right
                .dropdown
                  button.navbar-right-link.service-client(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                    span.icon.icon-dotted-dialog(aria-hidden='true')
                    |                 Servicio al cliente
                    span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                  ul.dropdown-menu
                    li
                      a(href='javascript:;')
                        | Preguntas frecuentes
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='search-ot.html')
                        | Revisa estado de envío
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='branch-office-search.html')
                        | Sucursales
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='javascript:;')
                        | Realiza un envío
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='javascript:;')
                        | Normas de transporte
                        span.glyphicon.glyphicon-menu-right.pull-right
                    li
                      a(href='javascript:;')
                        | Guía de servicios
                        span.glyphicon.glyphicon-menu-right.pull-right
                    li
                      a(href='javascript:;')
                        | Términos y condiciones
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')
                    li
                      a(href='contact.html')
                        | Contáctanos
                        span.glyphicon.glyphicon-menu-right.pull-right(aria-hidden='true')


      // menu desktop superior 991
      .nav-menu
        .pattern-nav.hidden-md-down
        .container.relative.hidden-sm-down
          .row
            #mainMenuWrapp
              .col-sm-2.col-md-2
                if isHome
                  button.icon.icon-simplebox.toolicon
                .logo
                  a.logo-link(href='index.html')
                    span.logo-image
                .logo.pull-left
              // col-md-2
              .col-sm-7.col-md-6.principal-menu
                // Nav tabs
                .nav-main
                  ul.nav.nav-tabs.nav-main-tabs(role='tablist')
                    li.main-tab-item.active(role='presentation')
                      a#personTab.main-tab-link(aria-controls='home', data-toggle='tab', data-target='#personTabPane', role='tab', ng-click="setCurrentProfile('person', false)") Cliente Persona
                    li.main-tab-item(role='presentation')
                      a#businessTab.main-tab-link(aria-controls='profile', data-toggle='tab', data-target='#businessTabPane', role='tab', ng-click="setCurrentProfile('business', false)") Empresa
                    li.main-tab-item(role='presentation')
                      a#entrepreneursTab.main-tab-link(aria-controls='messages', data-toggle='tab', data-target='#entrepreneursTabPane', role='tab', ng-click="setCurrentProfile('entrepreneurs', false)") Emprendedores
                    li.main-tab-item(role='presentation')
                      a#ecommerceTab.main-tab-link(aria-controls='ecommerce', data-toggle='tab', data-target='#ecommerceTabPane', role='tab', ng-click="setCurrentProfile('ecommerce', false)") E commerce
                  .active-marker.active-triangle-person
              // col-md-6
              .col-sm-3.col-md-4.login-search
                a.btn.btn-login.c-button.c-button--emphasis.pull-right(href='register.html', ng-if="!logged") Regístrate
                a.btn.btn-login.c-button.c-button--secondary.pull-right(href='login.html', ng-if="!logged") Ingresar

                .dropdown(ng-if="logged")
                  // atributo avatar-letter contiene la letra del Avatar
                  a.pull-right.text-left(avatar-letter="J", aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button', id='dropdownUser')
                    span
                      | Hola
                      br
                      span.name
                        | Juan Pablo Andrés Schwarzenegger
                      span.badge(ng-if="userNotifications>0")
                        | {{userNotifications}}
                  span.dropdown-menu-arrow
                  span.dropdown-menu-border
                  ul.dropdown-menu.options.pull-right
                    li.withNotification
                      a(href='notifications.html')
                        | NOTIFICACIONES
                        span.badge(ng-if="userNotifications>0") {{userNotifications}}
                    li.divider(role='separator')
                    li
                      a(href='javascript:;')
                        | RESUMEN
                    li
                      a(href='javascript:;')
                        | MIS DIRECCIONES
                    li
                      a(href='javascript:;')
                        | MIS ENVÍOS
                    li
                      a(href='javascript:;')
                        | MIS PAGOS
                    li
                      a(href='javascript:;')
                        | MI CUENTA
                    li.divider(role='separator')
                    li
                      a(href='javascript:;')
                        span.menuIcon.icon.icon-gear
                        | AJUSTES
                    li
                      a(href='index.html')
                        span.menuIcon.icon.icon-circle-close
                        | CERRAR SESIÓN


                .search-wrapper.pull-right
                  form.search-container#searchBoxDesktop(action='search.html', method='post')
                    input.search-hidden(type='hidden')
                    input#search-box-desktop.searchtize.search-box(name='', placeholder='¿Qué estás buscando?', type='text')
                    label(for='search-box')
                      span.icon.icon-search.search-icon
                    button#search-submit-desktop.search-submit(placeholder='Buscar', type='button', value='')
                      span.text Buscar
                    .error-search.empty.is-desktop
                      span.icon-circle-alert
                      p Debes ingresar al menos una letra&nbsp;
                        strong para iniciar la búsqueda
                // search-wrapper
              // login-search
              include _navbar-controls
            #mainLoginWrapp.main-login-wrapp.is-hide
              .col-xs-6.col-sm-6
                a.c-button.c-button--secondary.pull-right(href="login.html") Ingresar
              .col-xs-6.col-sm-6
                a.c-button.c-button--emphasis.pull-left(href="register.html") Registrarse
              button.close.close--md(type='button', aria-label='Close')
                span.icon.icon-close(aria-hidden='true')
        if isHome
          .bdr-icon-simplebox(ng-class="{'person':currentProfile=='person','business':currentProfile=='business', 'entrepreneurs':currentProfile=='entrepreneurs', 'ecommerce':currentProfile=='ecommerce'}")
            a(href="#toolBox")
              .icon.icon-simplebox
        if !isHome
          .container.relative
            button.icon.icon-simplebox.internal-icon
            .sub-toolbox
              include _tool-box-person
        // Tab panes
        .subnav.hidden-sm-down
          .container
            .menu-center
              #tabMenuMain.tab-menu.tab-content
                #personTabPane.tab-pane.tab--persons.active(role='tabpanel')
                  a.tab-menu-link(href='javascript:;') Servicios Nacionales
                  a.tab-menu-link.link--lg(href='javascript:;') Servicios internacionales
                  a.tab-menu-link.link--ow(href='javascript:;') Embalaje
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Otros servicios
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a.first(href='javascript:;') Giros
                      li
                        a(href='javascript:;') Equifax
                      li
                        a(href='javascript:;') Pago de cuentas
                      li
                        a(href='javascript:;') Recargas
                  a.tab-menu-link(href='javascript:;') Buenas prácticas

                #businessTabPane.tab-pane.tab--business(role='tabpanel')
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Envíos
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Nacionales
                      li
                        a(href='javascript:;') Internacionales
                      li
                        a(href='javascript:;') Envíos especiales
                      li
                        a(href='javascript:;') Logística y devolución
                  a.tab-menu-link.link--lg(href='javascript:;') Retiros
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Otros servicios
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Integraciones
                      li
                        a(href='javascript:;') Fullfillment
                      li
                        a(href='javascript:;') Alianzas
                      li
                        a(href='javascript:;') OTD asistida
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Beneficios cuenta CXP
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Cuenta TCC
                      li
                        a(href='javascript:;') Reportería y estadísticas
                      li
                        a(href='javascript:;') Gestión TCC
                      li
                        a(href='javascript:;') Mi ejecutivo
                  a.tab-menu-link(href='javascript:;') Materiales de embalaje
                  a.tab-menu-link(href='javascript:;') Buenas práctivas

                #entrepreneursTabPane.tab-pane.tab--entrepreneurs(role='tabpanel')
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Envíos
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Nacionales
                      li
                        a(href='javascript:;') Internacionales
                      li
                        a(href='javascript:;') Envíos especiales
                      li
                        a(href='javascript:;') Logística y devolución
                  a.tab-menu-link.link--lg(href='javascript:;') Retiros
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Otros servicios
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Integraciones
                      li
                        a(href='javascript:;') Fullfillment
                      li
                        a(href='javascript:;') Alianzas
                      li
                        a(href='javascript:;') OTD asistida
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Beneficios cuenta CXP
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Cuenta TCC
                      li
                        a(href='javascript:;') Reportería y estadísticas
                      li
                        a(href='javascript:;') Gestión TCC
                      li
                        a(href='javascript:;') Mi ejecutivo
                  a.tab-menu-link(href='javascript:;') Materiales de embalaje
                  a.tab-menu-link(href='javascript:;') Buenas práctivas

                #ecommerceTabPane.tab-pane.tab-ecommerce(role='tabpanel')
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Iníciate como E-commerce
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Envíos
                      li
                        a(href='javascript:;') Retiros
                      li
                        a(href='javascript:;') Tracking
                      li
                        a(href='javascript:;') Gestión del fallo
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Optimiza tus ventas
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Fullfillment
                      li
                        a(href='javascript:;') Entregas programadas
                      li
                        a(href='javascript:;') Big ticket
                      li
                        a(href='javascript:;') Logística y devolución
                      li
                        a(href='javascript:;') PUDO
                      li
                        a(href='javascript:;') Integraciones
                  .btn-group
                    button.btn.btn-default.dropdown-toggle.tab-menu-link(aria-expanded='false', aria-haspopup='true', data-toggle='dropdown', type='button')
                      | Beneficios cuenta CXP
                      span.glyphicon.glyphicon-menu-down
                    ul.dropdown-menu
                      li
                        a(href='javascript:;') Cuenta TCC
                      li
                        a(href='javascript:;') Reportería y estadísticas
                      li
                        a(href='javascript:;') Gestión TCC
                      li
                        a(href='javascript:;') Mi ejecutivo
                  a.tab-menu-link(href='javascript:;') Consejos para E-commerce
                  a.tab-menu-link(href='javascript:;') Buenas prácticas
