.pages-information-footer
  .info-top
    .info
      span.icono.icon-envelope
      h5 Escríbenos usando nuestro formulario de contacto
    .info
      span.icono.icon-circle-twitter
      h5 Escríbenos por Twitter
    .info
      span.icono.icon-circle-facebook
      h5 Escríbenos en Facebook
  .info-bottom
    p.information También puedes llamar a Servicio al cliente al &nbsp;
      a.link(href="tel:600 2000 102") 600 2000 102
      |, de lunes a viernes entre
      strong  08:30 a 19:30 horas
      | ; y los sábados de
      strong  08:30 a 14:30 horas.
