

#navpanel(data-role='panel', data-theme='a', data-display='overlay', data-position='right')
  .content-userinfo
    a(href='#')
      img.ui-btn-left(data-rel='close', src='assets/img/icons/arrows_arrow-line-left.png')
    .mini-logo
      img(src='assets/img/icons/mini-logo.png')
    .img-user
      img(src='assets/img/perfil/ejemplo.jpg')

    h6 Antonio Rojas Pérez
    a.edit(href='#') Editar

  .ui-panel-inner
    ul.menuperfil
      li
        a.vehiculo(href='#') DATOS DEL VEHÍCULO
      li
        a.pagos(href='#') PAGOS
      li
        a.entrega(href='#') PREFERENCIAS ENTREGA
      li
        a.rutas(href='#') HISTORIAL DE RUTAS
      li
        a.ayuda(href='#') AYUDAS

    a.disclaimer(href="terminos_condiciones.html") Términos y Condiciones de uso
