.ot-content-slider
  .otDetailsBlock
    .goBack Volver a listado
    .timeline
      .steps.received 
        span.step 
        span.point.icon-single-check
        span.step 
        span.point.icon-single-check
        span.step 
      .line
    .otMap
      .row 
        .col-lg-5
          .title Origen y destino
          label.ot-label Origen
          p Los Payares, 890, Arica, Arica y Parinacota, Chile
          label.ot-label Destino
          p Oficina Chilexpress MERCED, Santiago
          p Tiempo estimado de entrega 5 días
          
        .col-lg-7
          .title LA RUTA INDICADA ES REFERENCIAL
          #routeMap    
    
    hr.sep
      
    .ot-timeline-header
      .title
        label.ot-label Fecha / Hora
      .title
        label.ot-label Actividad    
        
    .ot-timeline-dates
      .event-date
        | Martes 28 de mayo
        .event-date-hour 12:00 hrs.
      .event-desc
        | Mattis Fusce Inceptos Sit Nibh Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
      .event-date
        | Martes 28 de Enero
        .event-date-hour 12:00 hrs.
      .event-desc
        | Mattis Fusce Inceptos Sit Nibh                          
      .event-date
        | Martes 28 de Septiembre
        .event-date-hour 12:00 hrs.
      .event-desc
        | Mattis Fusce Inceptos Sit Nibh    
        
    hr.sep
       
    .ot-summary
      .ot-summary-col.ot-type
        img(src='assets/img/tracking/doc_tracking-big.svg')
        .wrapper  
          label.ot-label producto
          .field Documento
          .field 20 cm x 34 cm
          .field 0,1 kg.
      .ot-summary-col
        label.ot-label Nº ORDEN TANSPORTE
        .field 645435642
        label.ot-label SERVICIO
        .field Día hábil siguiente
      .ot-summary-col
        label.ot-label CONTACTO
        .field Fernando Blanco fernandoblancov@gmail.com 
    
    
        
  .oTchildrenListBlock
    .goBack Volver a listado

    .listWrapper
      .ot-results
        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-document
          .ot-results-header-details
            .identification
              span.label Nº OT: 
              span.desc 645435642
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right 
            
        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.received  
              span.desc Pieza recepcionada
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.received  
              span.desc Pieza recepcionada
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.received  
              span.desc Pieza recepcionada
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right  
            
        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.transit  
              span.desc Pieza en tránsito
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right             

        //---------------OT hija-----------
        .ot-results-header(data-ot-type='simple')
          .ot-results-header-date-and-type
            span.otType.icon.icon-lidded-box
          .ot-results-header-details
            .identification
              span.label Nº OT: 645435642
              span.desc Insumos para Puerto Natales de segunda 1
            .status.received  
              span.desc Pieza recepcionada
          .ot-results-header-caret
            span.head-caret.icon.icon-arrow-right   
            
        //------------Paginacion------------
        .pagination
          | paginacion zzzzzz
