
#header.header-black(data-role='header', data-theme='a')
  .logo(style="display:none")
    img(src='assets/img/logo.png', alt='Chilexpress')
  .titulos
    a.backbtn(href="", data-rel='back')
      img(src='assets/img/icons/back_arrow.png', alt='Atrás')
    span INICIAR SESIÓN
