- var resultado = "Guía de embalajes y mercancías peligrosas y prohibidas"
h3.results-title Resultados para
  strong  “#{resultado}”
include _search-form
h4.subtitle Mostrando
  b  5
  |  de
  b  15
  |  resultados
.success-list
  a.item-result(href="#")
    .info
      h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dictum velit, vitae viverra tellus.
      .content-link
        span.link Ver más
  hr.result-separator
  a.item-result(href="#")
    .info
      h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dictum velit, vitae viverra tellus.
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .content-link
        span.link Ver más
  hr.result-separator
  a.item-result(href="#")
    .figure.hidden-sm.hidden-xs
      img.img-responsive(src="assets/img/sidebar-img.jpg", alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.")
    .info
      h5 Lorem ipsum dolor sit amet
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .content-link
        span.link Ver más
  hr.result-separator
  a.item-result(href="#")
    .info
      h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dictum velit, vitae viverra tellus.
      .content-link
        span.link Ver más
  hr.result-separator
  a.item-result(href="#")
    .info
      h5 Lorem ipsum dolor sit amet
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .content-link
        span.link Ver más

  include ../_paginator/_paginator


