#results.results-container(role='tablist', aria-multiselectable='true')
  .panel
    .head(data-toggle='collapse', data-parent='#results', data-target='#collapseResult1', aria-expanded='false', aria-controls='collapseResult1')
      h4 ¿Qué tipo de embalajes tiene disponible Chilexpress?
      span.icon-chevron-down
    #collapseResult1.collapse(role='tabpanel')
      .collapse-content
        .row
          .col-sm-8
            h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Un servicio entregado por tarjetas La Polar para que nuestros clientes puedan realizar giros de dinero en efectivo.
            ul
              li Rápido y sin trámites.
              li Obtenlo de lunes a domingo de xx:xx a xx:xx, y las 24 hrs. del día en cajeros automáticos Banco Estado.
              li Elige pago diferido y posterga tu primera cuota hasta 3 meses.
            h5 Mauris sit amet ligula ultrices, tempor erat non.
            ul
              li Etiam iaculis massa nec venenatis mollis.
              li Cras quis justo ornare, cursus dolor sed, mattis nisi.
              li Nam pellentesque velit quis lectus auctor pellentesque.
              li Pellentesque accumsan eros a egestas luctus.
              li Aliquam in felis blandit, gravida nibh quis, congue enim.
          .col-sm-4
            a(href="#")
              img.img-responsive(src="assets/img/search-content.jpg")
  .panel
    .head(data-toggle='collapse', data-parent='#results', data-target='#collapseResult2', aria-expanded='false', aria-controls='collapseResult2')
      h4 ¿De qué tamaños son las cajas disponibles para realizar envíos?
      span.icon-chevron-down
    #collapseResult2.collapse(role='tabpanel')
      .collapse-content
        .row
          .col-sm-8
            h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Un servicio entregado por tarjetas La Polar para que nuestros clientes puedan realizar giros de dinero en efectivo.
            ul
              li Rápido y sin trámites.
              li Obtenlo de lunes a domingo de xx:xx a xx:xx, y las 24 hrs. del día en cajeros automáticos Banco Estado.
              li Elige pago diferido y posterga tu primera cuota hasta 3 meses.
            h5 Mauris sit amet ligula ultrices, tempor erat non.
            ul
              li Etiam iaculis massa nec venenatis mollis.
              li Cras quis justo ornare, cursus dolor sed, mattis nisi.
              li Nam pellentesque velit quis lectus auctor pellentesque.
              li Pellentesque accumsan eros a egestas luctus.
              li Aliquam in felis blandit, gravida nibh quis, congue enim.
          .col-sm-4
            a(href="#")
              img.img-responsive(src="assets/img/search-content.jpg")
  .panel
    .head(data-toggle='collapse', data-parent='#results', data-target='#collapseResult3', aria-expanded='false', aria-controls='collapseResult3')
      h4 ¿Hay elementos prohibidos en los envíos?
      span.icon-chevron-down
    #collapseResult3.collapse(role='tabpanel')
      .collapse-content
        .row
          .col-sm-8
            h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Un servicio entregado por tarjetas La Polar para que nuestros clientes puedan realizar giros de dinero en efectivo.
            ul
              li Rápido y sin trámites.
              li Obtenlo de lunes a domingo de xx:xx a xx:xx, y las 24 hrs. del día en cajeros automáticos Banco Estado.
              li Elige pago diferido y posterga tu primera cuota hasta 3 meses.
            h5 Mauris sit amet ligula ultrices, tempor erat non.
            ul
              li Etiam iaculis massa nec venenatis mollis.
              li Cras quis justo ornare, cursus dolor sed, mattis nisi.
              li Nam pellentesque velit quis lectus auctor pellentesque.
              li Pellentesque accumsan eros a egestas luctus.
              li Aliquam in felis blandit, gravida nibh quis, congue enim.
          .col-sm-4
            a(href="#")
              img.img-responsive(src="assets/img/search-content.jpg")
  .panel
    .head(data-toggle='collapse', data-parent='#results', data-target='#collapseResult4', aria-expanded='false', aria-controls='collapseResult4')
      h4 ¿Cómo preparo correctamente un envío?
      span.icon-chevron-down
    #collapseResult4.collapse(role='tabpanel')
      .collapse-content
        .row
          .col-sm-8
            h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Un servicio entregado por tarjetas La Polar para que nuestros clientes puedan realizar giros de dinero en efectivo.
            ul
              li Rápido y sin trámites.
              li Obtenlo de lunes a domingo de xx:xx a xx:xx, y las 24 hrs. del día en cajeros automáticos Banco Estado.
              li Elige pago diferido y posterga tu primera cuota hasta 3 meses.
            h5 Mauris sit amet ligula ultrices, tempor erat non.
            ul
              li Etiam iaculis massa nec venenatis mollis.
              li Cras quis justo ornare, cursus dolor sed, mattis nisi.
              li Nam pellentesque velit quis lectus auctor pellentesque.
              li Pellentesque accumsan eros a egestas luctus.
              li Aliquam in felis blandit, gravida nibh quis, congue enim.
          .col-sm-4
            a(href="#")
              img.img-responsive(src="assets/img/search-content.jpg")
  .panel
    .head(data-toggle='collapse', data-parent='#results', data-target='#collapseResult5', aria-expanded='false', aria-controls='collapseResult5')
      h4 ¿Cómo preparo correctamente un envío?
      span.icon-chevron-down
    #collapseResult5.collapse(role='tabpanel')
      .collapse-content
        .row
          .col-sm-8
            h5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p Un servicio entregado por tarjetas La Polar para que nuestros clientes puedan realizar giros de dinero en efectivo.
            ul
              li Rápido y sin trámites.
              li Obtenlo de lunes a domingo de xx:xx a xx:xx, y las 24 hrs. del día en cajeros automáticos Banco Estado.
              li Elige pago diferido y posterga tu primera cuota hasta 3 meses.
            h5 Mauris sit amet ligula ultrices, tempor erat non.
            ul
              li Etiam iaculis massa nec venenatis mollis.
              li Cras quis justo ornare, cursus dolor sed, mattis nisi.
              li Nam pellentesque velit quis lectus auctor pellentesque.
              li Pellentesque accumsan eros a egestas luctus.
              li Aliquam in felis blandit, gravida nibh quis, congue enim.
          .col-sm-4
            a(href="#")
              img.img-responsive(src="assets/img/search-content.jpg")

.text-center
  a.link.no-margin(href="#") Mostrar 5 resultados más
