extends _layouts/_login-register

block variables
  - var pageTitle = "Inicio de Sesión"
  - var pageDesc = "Chilexpress, empresa de Courier Nacional e Internacional, encomiendas y envíos."
  - var pageKeywords = "Chilexpress"
  -var isLoginPage = true

block login_register
  .is-forgot
    form#forgotForm
      .login-register
        .head.text-center
          .back-arrow
            a(href="#" onClick="history.go(-1); return false;")
              span.icon-arrow-left
          .logo
            span.logo-image
        .tab-start
          .body
            span.title-section ¿Olvidaste tu contraseña?
            h5 Ingresa el email registrado en Chilexpress para ayudarte a recuperar tu contraseña.
            .form-group
              label(for="email") email
              input.cxp-input#email(type="text", name="email", placeholder="Ingresa tu email")
              h6 EJ: NOMBRE@CORREO.COM
          
          .foot.fp.clearfix
            .text-center
              button.btn.cxp-btn.btn-login(disabled='disabled', type='submit')
                | Solicitar clave de recuperación
        .tab-finish
          .body
            .text-center
              img(src="assets/img/forgot-success.svg", alt="")
              
          .foot.fp.clearfix
            .alert.empty
              p Las instrucciones de recuperación de contraseña fueron enviadas a fer**********@gmail.com.
            .text-center
              p 
                a#resendEmail(href="#") Reenviar contraseña a mi email

  #ModalLogin.modal.fade(tabindex='-1', role='dialog', aria-labelledby='labelModal')
    .modal-dialog.modal--height-medium(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.icon.icon-close(aria-hidden='true')
          h4#labelModal.modal-title Tu RUT ya está asociado a una cuenta Chilebox. Ingresa y accede a tu cuenta privada.

        .modal-body
          .text-center
            span.user-exist
          
        .modal-footer
          a.c-button.init(href='logged.html') Ingresar
          hr
          button#enableButton.cancel.c-button(type='submit', data-dismiss='modal') Cancelar
          .text-center
            a(href="javascript:;") Olvidé mi contraseña

        
  //- Aqui va el footer
  include _parts/_footer
