.page-content
  section#section-slide
    .container-fluid
      .container
        include _parts/_tool-box-entrepreneurs
      include _parts/_carousel-entrepreneurs
  include _parts/services
  include _parts/_map/_map
include _parts/_footer
