extends _layouts/_login-register

block variables
  - var pageTitle = "Inicio de Sesión"
  - var pageDesc = "Chilexpress, empresa de Courier Nacional e Internacional, encomiendas y envíos."
  - var pageKeywords = "Chilexpress"
  -var isLoginPage = true

block login_register
  .is-forgot
    form#recoveryForm
      .login-register
        .head.text-center
          .logo
            span.logo-image
        .tab-start
          .body
            span.title-section.title-recovery Ingresa tu nueva contraseña
            .form-group
              label(for="pass") nueva contraseña
              input#pass.cxp-input(type="password", name="pass", placeholder="Ingresa contraseña")
              span.icon-padlock
              h6 Debe tener al menos 6 dígitos
            .form-group
              label(for="confirmPass") confirma nueva contraseña
              input#confirmPass.cxp-input(type="password", name="confirmPass", placeholder="Ingresa contraseña nuevamente")
              h6 Debe tener al menos 6 dígitos
          
          .foot.fp.clearfix
            .alert.empty
              span.icon-circle-check
              p Las instrucciones de recuperación de contraseña fueron enviadas a tu email.
            .text-center
              button.btn.cxp-btn.btn-login(disabled='disabled', type='submit')
                | Guardar nueva contraseña
            .text-center.mt
              a(href="login.html") VOLVER AL INGRESO
        .tab-finish
          .body
            .text-center
              span.check-register
              h4 Contraseña reestablecida exitosamente
          .foot
            .text-center.mt
              a(href="login.html") Volver al ingreso


        
  //- Aqui va el footer
  include _parts/_footer
